<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Entrer la date du prochain tirage</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Entrer la date du prochain tirage</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/lottery.jpg') }}" class="card-img-top" alt="Loterie">
                    <div class="card-body">
                        <form action="/recommend" method="post">
                            <div class="form-group">
                                <label for="date">Date (ddmmyyyy):</label>
                                <input type="text" id="date" name="date" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Soumettre</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
